<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dfaefb">  <td>17/09/14 11:19:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MockitoVsSpy.spyMethod()[pri:0, instance:mockito.usage.MockitoVsSpy@9f70c54]">spyMethod</td> 
  <td>main@214074868</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>17/09/14 11:19:56</td>   <td>397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MockitoVsSpy.whenCreateMock_thenCreated()[pri:0, instance:mockito.usage.MockitoVsSpy@9f70c54]">whenCreateMock_thenCreated</td> 
  <td>main@214074868</td>   <td></td> </tr>
</table>
